{% extends "emails/base_email.html" %}
{% block title %}You're Invited to {{ event.title }}!{% endblock %}
{% block content %}
<p>Hi {{ recipient_name }},</p>
<p>{{ host_name }} has invited you to a movie night!</p>
<div class="event-details">
  <h2>{{ event.title }}</h2>
  <p><strong>When:</strong> {{ event.date }}</p>
  <p><strong>Where:</strong> {{ event.location }}</p>
  {% if event.description %}<p><strong>Description:</strong> {{ event.description }}</p>{% endif %}
</div>
<div style="text-align: center">
  <p>Will you be joining us?</p>
  <a href="{{ rsvp_yes_url }}" class="button" style="color: #161616">Yes, I'll be there!</a>
  <a href="{{ rsvp_no_url }}" class="button" style="background-color: #D9D9D9; color: #161616">Sorry, can't make it</a>
</div>
{% endblock %}
